name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install Dependencies
        working-directory: 02-encontros-tech
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Testes
        working-directory: 02-encontros-tech
        run: python -m pytest tests/ -v
      - run: echo "Teste CI"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    

  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - run: echo "teste CD"
