name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Testes
        run: python -m pytest tests/ -v
      - run: echo "Teste CI"
    

  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - run: echo "teste CD"
